.calculator {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 300px;
  margin: auto;
  background-color: #d9dad7;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.calculatorButtons {
  display: flex;
  gap: 24px;
}

.calculatorNumbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6px;
}

.calculatorOperators {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}
